* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}

body {
  font-size: 62.5%;
  /* overflow-x: hidden; */
  --light_color: #743c8f;
  --select_color: #4d83a0;
  --dark_color: rgb(17, 15, 24);
  --text_color: #e5e5dc;
  --html_logo_color: rgba(229, 77, 38, 255);
  --css_logo_color: rgba(38, 78, 228, 255);
  --js_logo_color: rgba(247, 223, 29, 255);
  --bootstrap_logo_color: rgba(119, 17, 248, 255);
  --react_logo_color: rgba(94, 218, 255, 255);
  --php_logo_color: rgba(118, 123, 179);
  --stackoverflow_logo_color: rgba(240, 129, 38);
}

/*--- Header ---*/

header {
  background-image: url(../media/header\ banner\ image\ -\ small.jpg);
  box-shadow: inset 0 10000px rgba(0, 0, 0, 0.55);
  background-repeat: no-repeat;
  /* background-position: fixed; */
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  /* height: 100vh; */
  color: var(--text_color);
  font-size: 4vw;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

header.mobile {
  background-attachment: scroll;
}

/*--- Navbar ---*/

nav {
  position: sticky;
  top: -1px;
  right: 0;
  left: 0;
  display: flex;
  flex-flow: nowrap;
  font-size: 1.4rem;
  padding: 1rem;
  transition: 0.3s ease-in-out;
  transition: box-shadow 1s ease-in-out;
  flex-flow: wrap;
  gap: 1rem;
  box-shadow: inset 0 -5px var(--light_color);
  background: var(--dark_color);
  z-index: 9999;
}

nav img {
  border-radius: 50%;
  max-width: 5rem;
  aspect-ratio: 1;
}

.main-nav-links {
  display: flex;
  padding-right: 1%;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-left: auto;
}

.main-nav-links a {
  width: max-content;
}

nav a,
nav a:visited {
  margin: 5%;
  text-decoration: none;
  color: var(--text_color);
  transition: color 0.2s ease-in;
}

nav a:hover,
nav a:focus {
  color: var(--select_color);
}

.hamburger-menu-toggle {
  display: none;
}

/*--- Main Section ---*/
main {
  display: flex;
  flex-flow: column;
}

h2 {
  text-align: center;
  font-size: 4.2em;
  margin: 50px;
}

/*---- About Me ----*/
.about-me-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: stretch;
  margin: 20px auto;
  gap: 40px;
}

.cards {
  box-shadow: 1px 3px 7px 0.1px rgba(0, 0, 0, 0.55);
  width: 400px;
  max-height: fit-content;
  border-radius: 3px;
  transition: box-shadow 0.5s ease-in-out, color 0.35s;
  padding: 5%;
  text-align: justify;
  font-size: 1.6em;
  flex-shrink: 0;

  overflow: hidden;
}

.cards img {
  border-radius: 50%;
  padding-bottom: 2rem;
}

.cards .fas {
  text-align: center;
  display: block;
  font-size: 5rem;
}

article h3 {
  text-align: center;
  margin: 20px 0;
}

.card-odd {
  box-shadow: 1px 3px 7px 0.1px rgba(0, 0, 0, 0.55),
    inset 7px 0 0 0 var(--light_color);
}

.card-even {
  box-shadow: 1px 3px 7px 0.1px rgba(0, 0, 0, 0.55),
    inset 7px 0 0 0 var(--select_color);
}

.card-odd:hover {
  box-shadow: 1px 3px 7px 0.1px rgba(0, 0, 0, 0.55),
    inset 401px 0 0 0.09px var(--light_color);
  color: var(--text_color);
}

/* .card-odd:hover .fas {
  transition: color 0.2s ease-in-out;
  color: var(--select_color);
} */

.card-even:hover {
  box-shadow: 1px 3px 7px 0.1px rgba(0, 0, 0, 0.55),
    inset 401px 0 0 0.09px var(--select_color);
  color: var(--text_color);
}

/*--- Skills ---*/

.skills {
  margin-top: 5%;
  background: hsl(0, 0%, 96%);
}

.skills-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.skill-article {
  text-align: center;
  width: 400px;
  font-size: 1.6em;
  padding: 5%;
}

.skills-wrapper .fa-brands {
  font-size: 10rem;
  display: block;
  transition: color 0.2s ease-in;
}

.skill-article p {
  text-align: justify;
}

.skill-article {
  position: relative;
  margin-bottom: 7%;
  border: solid 3px var(--select_color);
  border-radius: 5px;
  background: white;
  box-shadow: 1px 3px 7px 0.1px rgba(0, 0, 0, 0.55);
}

.skill-article h3 {
  opacity: 0;
  transition: 0.2s ease 0s;
}

.skill-article p {
  opacity: 0;
  transition: 0.2s ease 0s;
}

.shadow {
  opacity: 0;
}

.skill-article .brand-logo {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 7.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16em;
  height: 70%;
  transition: transform 0.3s ease 0.1s, font-size 0.3s ease 0.1s;
}

.clicked .brand-logo {
  position: absolute;
  /* display: inline; */
  transform: translateY(-25%);
  transition: transform 0.3s ease, font-size 0.3s ease;
  font-size: 10em !important;
}

.clicked h3 {
  opacity: 1;
  transition: 0.2s ease 0.2s;
}

.clicked p {
  opacity: 1;
  transition: 0.2s ease 0.2s;
}

.hand-pointer {
  font-size: 2.2em;
  position: absolute;
  bottom: 2%;
  right: 5%;
  display: flex;
  flex-flow: column;
  transition: opacity 0.2s ease 0.2s;
  color: var(--light_color);
}

.hand-pointer span {
  font-size: 1.2rem;
}

.clicked .hand-pointer {
  opacity: 0;
  transition: opacity 0.2s ease 0s;
}

/* colors for skills */
.brand-logo.fa-html5 {
  color: var(--html_logo_color);
}

.brand-logo.fa-css3-alt {
  color: var(--css_logo_color);
}

.brand-logo.fa-js {
  color: var(--js_logo_color);
}

.brand-logo.fa-bootstrap {
  color: var(--bootstrap_logo_color);
  font-size: 13em;
}

.brand-logo.fa-react {
  color: var(--react_logo_color);
  font-size: 14em;
}

.brand-logo.fa-git-alt {
  color: var(--html_logo_color);
}

.brand-logo.fa-php {
  color: var(--php_logo_color);
  font-size: 13em;
}

.brand-logo.fa-stack-overflow {
  color: var(--stackoverflow_logo_color);
  font-size: 13em;
}

/*--- Media Queries ---*/

@media screen and (max-width: 600px) {
  /* - vw<600px Navbar - */
  nav {
    height: 3.8rem;
    transition: 0.2s 0.1s;
  }

  nav.opened {
    height: 17rem;
    transition: 0.2s 0s;
  }

  .main-nav-links {
    display: flex;
    margin-left: auto;
    padding-right: 1%;
    list-style: none;
    justify-content: center;
    align-items: center;
    /*padding-left: 5%;*/
    gap: 1rem;
    padding: 0;
    position: absolute;
    top: 10px;
    left: 10px;
    flex-flow: column;
    align-items: flex-start;
    width: 50%;
    transition: 0.2s ease-in-out;
    overflow: hidden;
    transform: translateX(-100px);
    opacity: 0;
    transform-origin: top;
    transition: 0.1s 0s;
  }

  .main-nav-links.opened {
    display: flex;
    transform: translateX(0);
    opacity: 1;
    transition: all 0.1s 0.2s;
  }

  .main-nav-links > li {
    padding-top: 2%;
  }

  .hamburger-menu-toggle {
    position: absolute;
    right: 10px;
    top: 5px;
    display: block;
    background: transparent;
    width: 3rem;
    height: 3rem;
    border: none;
    margin: auto;
    margin-right: 0;
    cursor: pointer;
    transition: background 0.1s ease-in-out;
  }

  .bars {
    height: 4px;
    width: 30px;
    display: block;
    margin: 7px auto;
    background: var(--text_color);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-radius: 50px;
  }

  .hamburger-menu-toggle.opened .bars:nth-child(1) {
    transform: translateY(11px) translateX(-6px) rotate(66deg);
  }

  .hamburger-menu-toggle.opened .bars:nth-child(2) {
    transform: translateX(-75px);
    opacity: 0;
  }

  .hamburger-menu-toggle.opened .bars:nth-child(3) {
    transform: translateY(-11px) translateX(6px) rotate(-66deg);
  }

  nav > img {
    z-index: 999;
  }

  /* - vw<600px Main - */
  main > h2 {
    margin: 50px 0;
  }

  /* - vw<600px About - */
  .cards {
    width: 80vw;
  }

  .card-odd:hover {
    box-shadow: 1px 3px 7px 0.1px rgba(0, 0, 0, 0.55),
      inset 81vw 0 0 0.09px var(--light_color);
    color: var(--text_color);
  }

  .card-even:hover {
    box-shadow: 1px 3px 7px 0.1px rgba(0, 0, 0, 0.55),
      inset 81vw 0 0 0.09px var(--select_color);
    color: var(--text_color);
  }

  /* - vw<600px Skills - */
  .skill-article {
    width: 80vw;
  }
}

@media screen and (min-width: 770px) {
  /* - 600px<vw<770px About - */
  .cards {
    width: 40vw;
  }

  .card-odd:hover {
    box-shadow: 1px 3px 7px 0.1px rgba(0, 0, 0, 0.55),
      inset 41vw 0 0 0.09px var(--light_color);
    color: var(--text_color);
  }

  .card-even:hover {
    box-shadow: 1px 3px 7px 0.1px rgba(0, 0, 0, 0.55),
      inset 41vw 0 0 0.09px var(--select_color);
    color: var(--text_color);
  }

  /* - 600px<vw<770px Skills - */
  .skills-wrapper {
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-evenly;
  }

  .skill-article {
    width: 40vw;
  }
}

@media screen and (min-width: 1000px) {
  .main-nav-links {
    width: auto;
  }
}

@media screen and (min-width: 1200px) {
  /* - 1200px<vw About - */
  .about-me-wrapper {
    gap: 0;
  }

  .cards {
    width: 22vw;
    padding: 2.5%;
  }

  .card-odd:hover {
    box-shadow: 1px 3px 7px 0.1px rgba(0, 0, 0, 0.55),
      inset 23vw 0 0 0.09px var(--light_color);
    color: var(--text_color);
  }

  .card-even:hover {
    box-shadow: 1px 3px 7px 0.1px rgba(0, 0, 0, 0.55),
      inset 23vw 0 0 0.09px var(--select_color);
    color: var(--text_color);
  }

  /* - 1200px<vw Skills - */
  .skill-article {
    width: 22vw;
    padding: 2.5%;
  }
}
